
.contenedor-perfil {
    max-width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.titulo-perfil {
    text-align: center;
    color: #2c4c8a;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.fila-dato {
    margin-bottom: 15px;
}

.fila-dato label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-lectura {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9; 
    color: #555;
    border-radius: 4px;
    box-sizing: border-box;
}

.mensaje-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #eaf2f8;
    color: #2c4c8a;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
}


footer {
  background-color: #2c4c8a;
  color: white;
  display: flex;
  
  align-items: center;
  padding: 15px 40px;
  flex-wrap: wrap;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1800px;
}

.footer-izquierda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.logo-footer {
  width: 60px;
  height: auto;
  margin-right: 15px;
  border-radius: 8px;
}

.footer-info {
  text-align: center;
  
}

.footer-info p {
  margin: 2px 0;
  font-size: 14px;
  padding-left: 360px;
}

.footer-derecha {
  text-align: right;
  flex: 1;
}

.footer-derecha p {
  padding-right: 430px;
  margin: 5px 0;
  font-size: 14px;
}
