/* ====== ESTILOS GENERALES ====== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
header {
  background-color: #2c4c8a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #d6e0f0;
}

/* ====== CONTENEDOR ====== */
.container {
    max-width: 750px;
    margin: 35px auto;
    background: white;
    border-radius: 10px;
    padding: 25px 35px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

/* ====== FORMULARIO ====== */
.form-alumno {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #003366;
}

/* Subtítulo */
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    border-left: 4px solid #003366;
    padding-left: 8px;
}

/* ====== BOTÓN GUARDAR ====== */
.btn-guardar {
    background: #003366;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-guardar:hover {
    background: #004080;
}

footer {
  background-color: #2c4c8a;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 40px;

  flex-wrap: wrap;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
  
  bottom: 0;
  left: 0;
  width: 1800px;

}


.footer-izquierda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;

}

.logo-footer {

  width: 60px;
  height: auto;
  margin-right: 15px;
  border-radius: 8px;

}

.footer-info {
  text-align: center;
}


.footer-info p {
  margin: 2px 0;
  font-size: 14px;
  padding-left: 360px;
}

.footer-derecha {
  text-align: right;
  flex: 1;
}

.footer-derecha p {
  padding-right: 430px;
  margin: 5px 0;
  font-size: 14px;
}

