
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f4f8;
  color: #333;
}

header {
  background-color: #2c4c8a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #d6e0f0;
}


.container {
  padding: 30px 50px;
  background-color: white;
  margin: 30px auto 120px;
  max-width: 1100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: #2c4c8a;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-align: center;
}


#buscar {
  width: 300px;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #2c4c8a;
  color: white;
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
}

footer {
  background-color: #2c4c8a;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 40px;

  flex-wrap: wrap;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1800px;

}


.footer-izquierda {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;

}

.logo-footer {

  width: 60px;
  height: auto;
  margin-right: 15px;
  border-radius: 8px;

}

.footer-info {
  text-align: center;
}


.footer-info p {
  margin: 2px 0;
  font-size: 14px;
  padding-left: 360px;
}

.footer-derecha {
  text-align: right;
  flex: 1;
}

.footer-derecha p {
  padding-right: 430px;
  margin: 5px 0;
  font-size: 14px;
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

#filtroCarrera {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

#btnAgregar {
  padding: 10px 15px;
  border: none;
  background-color: #2c4c8a;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#btnAgregar:hover {
  background-color: #1f3561;
}



