
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f2f4f8;
  color: #333;
}

header {
  background-color: #2c4c8a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #d6e0f0;
}


.container {
  padding: 30px 50px;
  background-color: white;
  margin: 30px auto 120px;
  max-width: 1100px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  color: #2c4c8a;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-align: center;
}


#buscar {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #2c4c8a;
  color: white;
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
}





