body {

    display: flex;

    flex-direction: column;

     justify-content: center;

    align-items: center;

    padding-top: 80px;

     font-family: Arial, Helvetica, sans-serif;

    background-color: #f5f6fa;

    height: 540px;

    

   

}



#login {

    background-color: #2c4c8a;



    color: white;

      padding: 40px;

    border-radius: 15px;

      width: 400px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

}



#login h3 {

    text-align: center;

     margin-bottom: 25px;

}



label {

    display: block;

     font-weight: bold;

    margin-top: 10px;

}



.contenedor {

    display: flex;

    align-items: center;

     background-color: #b8c6e2;

    border-radius: 5px;



    padding: 5px 10px;

        margin-top: 5px;

     color: #2c4c8a;

    margin-right: 8px;

    

}







input

 {

    border: none;

     outline: none;

     width: 100%;

     background: transparent;

    font-size: 16px;

    color: #333333;

    padding: 8px;

}



button {

    background-color: white;

    color: #2c4c8a;

    border: none;

    width: 100%;

     padding: 10px;

     

     font-size: 16px;

    margin-top: 20px;

    border-radius: 5px;

    cursor: pointer;

    

}





button:hover {

    background-color: #d6e0f0;

}



footer {

  background-color: #2c4c8a;

  color: white;

  display: flex;

  

  align-items: center;

  padding: 15px 40px;

  flex-wrap: wrap;

  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);

  position: fixed;

  bottom: 0;

  left: 0;

  width: 1800px;

}



.footer-izquierda {

  display: flex;

  align-items: center;

  justify-content: center;

  flex: 1;

  text-align: center;

}



.logo-footer {

  width: 60px;

  height: auto;

  margin-right: 15px;

  border-radius: 8px;

}



.footer-info {

  text-align: center;

  

}



.footer-info p {

  margin: 2px 0;

  font-size: 14px;

  padding-left: 360px;

}



.footer-derecha {

  text-align: right;

  flex: 1;

}



.footer-derecha p {

  padding-right: 430px;

  margin: 5px 0;

  font-size: 14px;

}