header {
  background-color: #2c4c8a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #d6e0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 12px 10px;
}

th {
  background-color: #2c4c8a;
  color: white;
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
}

/* --- INPUTS DENTRO DE LA TABLA --- */
.input-calificacion {
    width: 70px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
}
